*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
 body{
    background: #D6D6D6;
} 

html{
    font-size: 16px;
}
.container{
    display:flex;
    height: 100ch;
   
}
.triangle
{   
    background-size: contain;
    background-position: 0% 0%;
    z-index: -1;
    position:absolute;
}
.right-side{   
    width: 70%;
    height: 100vh;
    justify-content: flex-end;
    background: linear-gradient(180deg, rgba(252, 222, 255, 0.9) 0%, rgba(66, 66, 66, 0.11) 100%);
} 

.navbar{

    display: flex;
    justify-content: end;
    gap: 3vw;
    padding-top: 2vh; 
    padding-right: 2vw;
    font-size: 25px; 
    margin-left: 2vw;   

}



.WOMENIMAGE img{
    display: flex;
    position: absolute;
    left: 48%;
    top: 30%;
    height: 70vh;
    width: 42vw;

}
.left-side{
    width:50%;
    height:90vh;
    display: flex;
  margin-left: 5vh;
  margin-right: 15vh;
    
}

.content{
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-top: 25vh;
    gap: 2vh;
 } 
.text1,.text2{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    font-weight: normal;
   
}
.text1{
    color: #ff7b00;
    font-weight:bold; 

}
.text2{
     color: #4605FF;
     font-weight:bold; 
}
.maintext{

    font-size: 30px;
    color: #000000;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight:normal; 
}
.buttons{
    display: flex;
    padding-left: 10vw;
    padding-top: 15vh;
    gap: 10vh;
   
}
.hiremebutton,.viewmorebutton{
    padding: 2vh 2vw;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
outline: 1px solid;
outline-color: rgba(255, 255, 255, .5);
outline-offset: 0px;
text-shadow: none;
transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.hiremebutton:hover,.viewmorebutton:hover {
border: 1px solid;
box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
outline-color: rgba(255, 255, 255, 0);
outline-offset: 15px;

}
.hiremebutton{
   padding-top: 3vh;
   padding-right: 7vh;
   color: aliceblue;
  background: #703EFD;;
   border: 0.775018px solid #000000;
   box-sizing: border-box;
   box-shadow: -3.87509px 3.10007px 11.6253px 3px #703EFD;
   border-radius: 11.6253px;


}
.viewmorebutton{
  
    padding-top: 3vh;
    padding-right: 5vh;
    background: #E6E6E6;
    border: 0.775018px solid #000000;
    box-sizing: border-box;
    box-shadow: -3.87509px 3.10007px 11.6253px #000000; 
    border-radius: 11.6253px;
}

.shape1{
    
        position: absolute;

        left: 93%;
        top: 15% ;
}
.shape2{
        position:absolute;
        left:48%;
        top: 88%;
    } 
.shape3{
        position: absolute;
        width: 880.42px;
        height: 700.25px;
        left: 0.22px;
        top: 820.18px;
 } 
 .image5{
    position: absolute;
    left: 8%;
    top: 128%;
}   
.circle1
{
    position: absolute;
    left: 20%;
    top:121%;
}
.circle2{
    position: absolute;
    left:2%;
    top:164%;
}
.texty{
    padding-left: 4vw ;
    padding-top:17vh;
    font-size: 20px;
}

.SOCIALICONS{
    display: flex;
    gap: 3vw;
    padding-left: 4vw ;
    padding-top: 2vh;
    font-size: 28px;
    color: #242323;
        
}
.insta:hover,.tele:hover,.twit:hover,.linked:hover{
        color: rgb(72, 0, 240);
    
}
.maincontent{
    margin-top: 115vh;
    
}.para1{
    font-family: Roboto;
   font-weight: normal;
   font-size: 55px;
}
.intro{
    display:flex;

}
.texta{
    font-size: 90px;
    
    
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #4605FF;
}
.textb{
    padding-top: 4vh;
    padding-left:1vw;
    padding-right: 4vw;
    font-family: Roboto;
    font-size: 28px;
    font-feature-settings: 'pnum' on, 'onum' on;

    color: #000000;
}
.textc{
   
    font-size: 90px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #4605FF;
}
.textd{
    padding-top: 4vh;
    padding-left: 1vw;
    font-family: Roboto;
    font-size: 28px;
    font-feature-settings: 'pnum' on, 'onum' on;

    color: #000000;
}

.button{
    display: flex ;
    padding-left: 2vw;
    padding-bottom: 2vh;
    font-size: 15px;
    
    color: #FFFF;
} 
 .button2{
    margin-left: 18vw ;
    margin-right: 19vw;
    margin-top: 12vh;
    padding-top: 2vh;
    background: #703EFD;
    border: 0.775018px solid #000000;
    box-sizing: border-box;
    box-shadow: -3px 4px 11px #703EFD;
    border-radius: 11.6253px;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.button2:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}
.heading1{

    padding-left: 47vw ;
    padding-top: 95vh ;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-decoration-line: underline;
}
.cards{
    display: flex;
    gap: 5vw;
    padding-left: 7vw;
    
}
 .card1,.card2,.card3{
   
    margin-top: 8vh;
    background: linear-gradient(146.49deg, rgba(0, 0, 0, 0.62) 97.65%, rgba(223, 222, 222, 0.62) 100%);
    border-radius: 11.6253px;
    height: 78vh;
    width: 25vw;
 }
.image1 img{

  display: flex;
  position: absolute;
  height: 28vw;
  width: 25vw;
  border-radius: 11.6253px;
  top: 219vh;
  left: 37vw;
   
}
.image1:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
.image2 img{
    display: flex;
    position: absolute;
    height: 28vw;
    width: 25vw;
    border-radius: 11.6253px;
    top: 219vh;
    left: 7vw;
}
.image2:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
.image3 img{
    display: flex;
    position: absolute;
    height: 28vw;
    width: 25vw;
    border-radius: 11.6253px;
    top: 219vh;
    left: 67vw;
}
.image3:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
.title1,.title2,.title3{
   display: flex;
   padding-top: 65vh;
   font-size: 32px;
   
   color: #E6E6E6;
}
.title1{
    padding-left: 5.5vw;
   
}
.title2{
   padding-left: 4vw;
}
.title3{
    padding-left: 3.5vw;
}
.sub1,.sub2,.sub3{
    font-size: 22px;
    padding-top: 2vh;
    padding-left: 16vw;
    color: #ffbb00;
  
}
.heading2{

    padding-left: 37vw ;
    padding-top: 22vh ;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-decoration-line: underline;
}
.cardsprojects{
    display: flex;
    gap: 5vw;
    padding-left: 7vw;
}
.carda,.cardb,.cardc{
    
    display: flex;
    margin-top: 12vh;
    background: linear-gradient(146.49deg, rgba(0, 0, 0, 0.62) 97.65%, rgba(223, 222, 222, 0.62) 100%);
    border-radius: 11.6253px;
    height: 78vh;
    width: 25vw;
 } 
 
 .imageb img{
    display: flex;
    position: absolute;
    height: 23vw;
    width: 23vw;
    border-radius: 11.6253px;
    top: 335.5vh;
    left: 38vw;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imageb:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
 .imagea img{
    display: flex;
    position: absolute;
    height: 23vw;
    width: 23vw;
    border-radius: 15px;
    top: 335.5vh;
    left: 8vw;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imagea:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

 .imagec img{
    display: flex;
    position: absolute;
    height: 23vw;
    width: 23vw;
    border-radius: 11.6253px;
    top: 335.5vh;
    left: 68vw;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imagec:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.suba,.subb,.subc{

    padding-top: 58vh;
    font-size: 24px;
    padding-left: 1vw ;
    color: #E6E6E6;
 }
 .subtexta,.subtextb,.subtextc{

    font-size: 22px;
    padding-top: 1vh;
    padding-left: 13vw;
    color: #ffbb00;
  
}  
.background2 img{
padding-top: 175vh ;
z-index: -1;
position:absolute;
width: 100vw;
height: 455vh ;
opacity: 0.5;

}
.heading3{
    padding-left: 45vw ;
    padding-top: 55vh ;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-decoration-line: underline;
}

  
  .contact {
    display: flex;
    width: 100%;
 
    align-items: center;
    padding-left:  15vw;
    padding-top: 10vh ;
  }
  
  .contact .name input {
    display: block;
    background-color: #AEAEAE;;
    color: #ffffff;
    border: none;
    border-radius: 15.1139px;
    width: 25rem;
    height: 3rem;
    padding-left:2vw;
    font-family: Roboto;
font-style: italic;
font-weight: 300;
font-size: 24px;
line-height: 28px;

  }
  .contact .email input 
{
    display: block;
    background-color: #AEAEAE;;
    color: #ffffff;
    border-radius: 15.1139px;
    border: none;
    width: 25rem;
    height: 3rem;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    padding-left:2vw;

  }
.contact .message textarea 
{
    background-color: #AEAEAE;;
    color: #E6E6E6;
    border-radius: 15.1139px;
    width: 25rem;
    height: 15rem;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    padding-left:2vw;
    padding-top: 2vh;

}
 .contact .subject input{
    display: block;
    background-color: #AEAEAE;;
    color: #ffffff;
    border: none;
    border-radius: 15.1139px;
    width: 25rem;
    height: 3rem;
    padding-left:2vw;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;

}
  
  .contact .send input {
    width: 10rem;
    height: 3rem;
    color: #E6E6E6;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
      background: #703EFD;
      border: 0.775018px solid #000000;
      box-sizing: border-box;
      box-shadow: -3.87509px 3.10007px 11.6253px #000000;
      border-radius: 11.6253px;

      
  }
  ::placeholder{
    color: rgb(241, 241, 241);
  }
  
  .name,.email,.message,.subject{
      padding-left: 2vw;
      padding-top:3vh ;
  }
.send{
    padding-left: 9vw;
      padding-top:9vh ;
}
.lastimage img{
     display: flex;
     position: absolute;
     padding-left: 70vw; 
     padding-top: 0.1vh;
     height: 90vh;
     opacity: 0.5;
}
.footer {
    background-color: rgb(97, 96, 97);
    width: 100%;
    margin-top: 4rem;
  }
  .footer .socials {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 2rem;
    color: white;
    justify-content: center;
    padding-top: 1rem;
  
  }
  
  .footer .tnc{
    font-size: 1rem;
    color: white;
    text-align: center;
    padding-top: 1rem;
  }
  
  .footer .copyright
{
    font-size: 1rem;
    color: #AAACB0;
    text-align: center;
    padding-top: 0.5rem;
}

.cardb a,.carda a,.cardc a{
    text-decoration: none;
    color: #ffbb00;
} 

 